<div class="message-space">
  <% @messages.each do |message| %>
    <% if message.user_id == current_user.id %>
    <div class="message-mine">
    <% else %>
    <div class="message-content">
    <% end %>
      <%= message.message %>
      <%= message.user.name %>
    </div>
  <% end %>
</div>
<%= form_with model: [@group, @message], class:"message-form-space", local: true do |f| %>
  <%= f.text_field :message, class:"message-form"%>
  <%= f.submit '送信', class:"button"%>
<% end %>
