<div class="wrapper">
  <div class="main-sub-frame">
    グループ名<p class="group-name2"><%= @group.name %></p>
    活動内容<p class="group-content1"><%= @group.content %></p>
  </div>
  <div class="right-bar">
    <p class="group-right-top">メンバー <%= @users.length %>人</p>
    <% @users.each do |user| %>
      <p class="group-right-name"><%= user.name %></p>
    <% end %>
  </div>
</div>
<%= link_to "加入する", addition_group_path(@group.id), method: :patch, class:"link-button" %>
