<!DOCTYPE html>
<html>
  <head>
    <title>FreeSeeker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="reset.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= link_to "Free Seeker", root_path, class:"app-name" %>
      <div class="header-right">
        <div class="header-content">
          <div class="user-name">
            <% if user_signed_in? %>
              <%= current_user.name %>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="login">
              <%= link_to "グループ作成", new_group_path, class:"link-box" %>
            </div>
            <div class="login">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"link-box" %>
            </div>
          <% else %>
            <div class="login">
              <%= link_to "ログイン", new_user_session_path, class:"link-box" %>
            </div>
            <div class="login">
              <%= link_to "新規登録", new_user_registration_path, class:"link-box" %>
            </div>
          <% end %>
        </div>
        <div class="header-menu">
          <%= link_to "新規投稿", new_post_path, class:"link-menu" %>
          <%= link_to "編集投稿", posts_path, class:"link-menu" %>
          <%= link_to "投稿一覧", list_posts_path, class:"link-menu" %>
        </div>
      </div>
    </div>
    <div class="hidden-header">
    </div>
    <%= yield %>
  </body>
</html>
