<!DOCTYPE html>
<html>
  <head>
    <title>FreeSeeker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= link_to "Free Seeker", root_path, class:"app-name" %>
      <div class="header-right">
        <div class="header-content">
          <div class="user-name">
            <% if user_signed_in? %>
              user
            <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="login">
              <%= link_to "投稿一覧", new_user_session_path, class:"link-box" %>
            </div>
            <div class="login">
              <%= link_to "ログアウト", new_user_registration_path, class:"link-box" %>
            </div>
          <% else %>
            <div class="login">
              <%= link_to "ログイン", new_user_session_path, class:"link-box" %>
            </div>
            <div class="login">
              <%= link_to "新規登録", new_user_registration_path, class:"link-box" %>
            </div>
          <% end %>
        </div>
        <div class="header-menu">
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
